

<div class="container">
	<div class="jumbotron">
	<h2>Welcome to Job Application Tracker</h2>
	<button type="button" id="job-application-data" class="btn btn-danger btn-md">All Job Applications</button>
	<a href="/job_applications/new"><button type="button" class="btn btn-info btn-md">New Job application Entry</button></a>
	</div>

	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div id="all-applications" class="list-group">
				  
			</div>
		</div>
		<div id="show-details" class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			Show page column
		</div>
	</div>

</div>