<div class="container">
	<div class="page-header">
		<h1>Job Application Tracker</h1>
	</div>

	<div class="jumbotron">
		<p>Track your job applications in a very simple and easy manner.</p>
		<p>Stay Organized while applying for Jobs.</p>
	</div>
</div>